Pandas
======

Pandas (Python Data Analysis Library)is another a Python library whose purpose is to allow one to do statistical data analysis easily in Python.  Pandas adds a new fundamental data type, the DataFrame to the Python language.  The DataFrame is inspired by the same data type from the R statistical analysis programming envrionment.  DataFrames give us easy ways to load and massage a large data set of values.  The rest of the Pandas library adds methods to do various complex statistical analysis on the data.  Pandas is inspired by, and meant to replace functions
one would do in R with pure Python.  Though a relatively new library, Pandas has quickly matured.  It still does not cover some of the more complex analysis you could do with R, but for many people it will have everything they need already.  Plus it is written in Python to boot, meaning one can avoid the somewhat unintuitive implementation that R provides.  Pandas is also being designed with an eye towards computational performance.  It is already as good, if not often better than R performance wise on very large data sets.

References
----------

* [Pandas web site](http://pandas.pydata.org/)
* [Python for Data Analysis](http://www.amazon.com/Python-Data-Analysis-Wes-McKinney/dp/1449319793/ref=sr_1_1?ie=UTF8&qid=1377800910&sr=8-1&keywords=python+for+data+analysis) by Wes McKinney, 2012. (developer of Pandas)

In [1]:
import numpy as np
import pandas as pd

Important Features in pandas
============================

Loading Data from delimited text files
--------------------------------------

A simple yet very common data format used by scientists are plain text files, with a delimiter of some kind between each data item.  This basically arranges the data as a table.  By convention, each row of the table represents one observation, or data point.  And each column of the table represents a feature or dimension that was measured or observed.  A common delimiter between each feature is to use a comma ',', though you will see files that use a blank space ' ', a tab '\\t' or sometimes something else to delimit fields.  Pandas allows you to easily load even very large plain text delimited files for analysls.

Here is an example of a comma separated data file (from [Luis Zaman's](http://research.luiszaman.com/) digital parasite data set):

In [2]:
!head data/parasite_data.csv

Virulence,Replicate,ShannonDiversity
0.5,1,0.0592619
0.5,2,1.0936
0.5,3,1.13939
0.5,4,0.547651
0.5,5,0.0659277
0.5,6,1.34433
0.5,7,1.68048
0.5,8,0
0.5,9,2.04768

In [3]:
!tail data/parasite_data.csv

 ,41,0
 ,42,0
 ,43,0
 ,44,0
 ,45,0.391061
 ,46,0.00166884
 ,47,0
 ,48,0.444463
 ,49,0.383512
 ,50,0.511329

Notice that some of the rows at the end have a blank space in the first column.  We will pass pandas a parameter to tell it how to treat these values.

In [4]:
exp_df = pd.read_csv("data/parasite_data.csv", na_values=[" "])

In [5]:
print(exp_df)

     Virulence  Replicate  ShannonDiversity
0          0.5          1          0.059262
1          0.5          2          1.093600
2          0.5          3          1.139390
3          0.5          4          0.547651
4          0.5          5          0.065928
5          0.5          6          1.344330
6          0.5          7          1.680480
7          0.5          8          0.000000
8          0.5          9          2.047680
9          0.5         10          0.000000
10         0.5         11          1.507140
11         0.5         12          0.000000
12         0.5         13          1.589810
13         0.5         14          1.144800
14         0.5         15          1.011190
15         0.5         16          0.000000
16         0.5         17          0.776665
17         0.5         18          0.001749
18         0.5         19          1.761200
19         0.5         20          0.021091
20         0.5         21          0.790915
21         0.5         22          0.000000
22         0.5         23          0.018866
23         0.5         24          0.994268
24         0.5         25          1.729620
25         0.5         26          0.967537
26         0.5         27          0.457318
27         0.5         28          0.992525
28         0.5         29          1.506640
29         0.5         30          0.697241
..         ...        ...               ...
320        NaN         21          0.000000
321        NaN         22          0.000000
322        NaN         23          0.000000
323        NaN         24          0.000000
324        NaN         25          0.000000
325        NaN         26          0.000000
326        NaN         27          1.702720
327        NaN         28          0.169556
328        NaN         29          0.949750
329        NaN         30          0.240084
330        NaN         31          0.925913
331        NaN         32          0.000000
332        NaN         33          0.693356
333        NaN         34          0.000000
334        NaN         35          0.310170
335        NaN         36          0.000000
336        NaN         37          0.000000
337        NaN         38          0.000000
338        NaN         39          0.000000
339        NaN         40          0.000000
340        NaN         41          0.000000
341        NaN         42          0.000000
342        NaN         43          0.000000
343        NaN         44          0.000000
344        NaN         45          0.391061
345        NaN         46          0.001669
346        NaN         47          0.000000
347        NaN         48          0.444463
348        NaN         49          0.383512
349        NaN         50          0.511329

[350 rows x 3 columns]

Notice that pandas automatically names the column features, using the 1st line from the data file (known as the header).  Notice also that the first feature, Virulance, is missing 50 values (it had 300 non-null values, while the other features had 350 values.

Accessing data in pandas DataFrames
-----------------------------------

We can directly access any column and row by indexing the DataFrame (kinda like a dictionary):

In [6]:
print(exp_df['Virulence'])

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
5      0.5
6      0.5
7      0.5
8      0.5
9      0.5
10     0.5
11     0.5
12     0.5
13     0.5
14     0.5
15     0.5
16     0.5
17     0.5
18     0.5
19     0.5
20     0.5
21     0.5
22     0.5
23     0.5
24     0.5
25     0.5
26     0.5
27     0.5
28     0.5
29     0.5
      ...
320    NaN
321    NaN
322    NaN
323    NaN
324    NaN
325    NaN
326    NaN
327    NaN
328    NaN
329    NaN
330    NaN
331    NaN
332    NaN
333    NaN
334    NaN
335    NaN
336    NaN
337    NaN
338    NaN
339    NaN
340    NaN
341    NaN
342    NaN
343    NaN
344    NaN
345    NaN
346    NaN
347    NaN
348    NaN
349    NaN
Name: Virulence, Length: 350, dtype: float64

In [7]:
print(exp_df['ShannonDiversity'][12])

1.58981

We can also access all of the values in a column meeting a certain criteria:

In [8]:
print(exp_df[exp_df['ShannonDiversity'] > 2.0])

     Virulence  Replicate  ShannonDiversity
8          0.5          9           2.04768
89         0.6         40           2.01066
92         0.6         43           2.90081
96         0.6         47           2.02915
105        0.7          6           2.23427
117        0.7         18           2.14296
127        0.7         28           2.23599
129        0.7         30           2.48422
133        0.7         34           2.18506
134        0.7         35           2.42177
139        0.7         40           2.25737
142        0.7         43           2.07258
148        0.7         49           2.38326
151        0.8          2           2.07970
153        0.8          4           2.38474
163        0.8         14           2.03252
165        0.8         16           2.38415
170        0.8         21           2.02297
172        0.8         23           2.13882
173        0.8         24           2.53339
182        0.8         33           2.17865
196        0.8         47           2.07718
208        0.9          9           2.12240
209        0.9         10           2.46144
212        0.9         13           2.20476
229        0.9         30           2.28026
235        0.9         36           2.19565
237        0.9         38           2.16535
243        0.9         44           2.17578
251        1.0          2           2.16044

NumPy use of pandas DataFrame data
----------------------------------

Another powerful feature of the pandas DataFrame is that they are fully integrated with NumPy.

In [9]:
np.sort(exp_df['ShannonDiversity'])

array([  0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         1.66884000e-03,   1.74899000e-03,   3.48978000e-03,
         5.80162000e-03,   5.96288000e-03,   6.37735000e-03,
         6.98024000e-03,   8.29361000e-03,   1.34949000e-02,
         1.88665000e-02,   2.10908000e-02,   4.54712000e-02,
         5.23720000e-02,   5.68192000e-02,   5.91347000e-02,
         5.92619000e-02,   6.14139000e-02,   6.59277000e-02,
         1.15830000e-01,   1.24755000e-01,   1.34478000e-01,
         1.59017000e-01,   1.69556000e-01,   1.86966000e-01,
         2.40084000e-01,   2.69136000e-01,   2.71429000e-01,
         2.88455000e-01,   2.93153000e-01,   2.96054000e-01,
         3.10170000e-01,   3.16439000e-01,   3.21375000e-01,
         3.41714000e-01,   3.43235000e-01,   3.45177000e-01,
         3.48283000e-01,   3.74074000e-01,   3.83512000e-01,
         3.91061000e-01,   3.92939000e-01,   4.16046000e-01,
         4.21927000e-01,   4.44463000e-01,   4.45267000e-01,
         4.57318000e-01,   4.60192000e-01,   5.11329000e-01,
         5.19065000e-01,   5.47157000e-01,   5.47651000e-01,
         5.51367000e-01,   5.68674000e-01,   5.84252000e-01,
         5.97295000e-01,   6.14147000e-01,   6.17618000e-01,
         6.44337000e-01,   6.55764000e-01,   6.69810000e-01,
         6.87150000e-01,   6.93356000e-01,   6.97241000e-01,
         7.13224000e-01,   7.16393000e-01,   7.19755000e-01,
         7.21134000e-01,   7.38403000e-01,   7.57638000e-01,
         7.64003000e-01,   7.76665000e-01,   7.87591000e-01,
         7.90915000e-01,   8.12238000e-01,   8.20405000e-01,
         8.33645000e-01,   8.57742000e-01,   8.75816000e-01,
         8.82519000e-01,   8.84122000e-01,   8.87569000e-01,
         8.90169000e-01,   8.92139000e-01,   8.92717000e-01,
         9.04773000e-01,   9.09254000e-01,   9.25913000e-01,
         9.32470000e-01,   9.35883000e-01,   9.38018000e-01,
         9.48393000e-01,   9.49750000e-01,   9.54747000e-01,
         9.57757000e-01,   9.58280000e-01,   9.60891000e-01,
         9.60912000e-01,   9.67537000e-01,   9.68258000e-01,
         9.69003000e-01,   9.71351000e-01,   9.79254000e-01,
         9.80076000e-01,   9.80876000e-01,   9.86830000e-01,
         9.90309000e-01,   9.90460000e-01,   9.92335000e-01,
         9.92525000e-01,   9.94268000e-01,   9.95956000e-01,
         9.97556000e-01,   9.98377000e-01,   9.98564000e-01,
         9.99456000e-01,   9.99556000e-01,   9.99703000e-01,
         9.99802000e-01,   1.00134000e+00,   1.00348000e+00,
         1.00485000e+00,   1.00513000e+00,   1.00697000e+00,
         1.01119000e+00,   1.01170000e+00,   1.02233000e+00,
         1.03500000e+00,   1.03693000e+00,   1.04260000e+00,
         1.07258000e+00,   1.08938000e+00,   1.09360000e+00,
         1.09448000e+00,   1.11849000e+00,   1.12732000e+00,
         1.13910000e+00,   1.13939000e+00,   1.14480000e+00,
         1.15291000e+00,   1.15410000e+00,   1.15516000e+00,
         1.17992000e+00,   1.18013000e+00,   1.19045000e+00,
         1.21234000e+00,   1.23889000e+00,   1.26228000e+00,
         1.27023000e+00,   1.28415000e+00,   1.29282000e+00,
         1.32344000e+00,   1.32732000e+00,   1.34433000e+00,
         1.35093000e+00,   1.39485000e+00,   1.41973000e+00,
         1.42847000e+00,   1.43380000e+00,   1.49551000e+00,
         1.50664000e+00,   1.50714000e+00,   1.51456000e+00,
         1.52632000e+00,   1.53615000e+00,   1.55725000e+00,
         1.56022000e+00,   1.56433000e+00,   1.56641000e+00,
         1.56984000e+00,   1.57031000e+00,   1.57826000e+00,
         1.58125000e+00,   1.58325000e+00,   1.58390000e+00,
         1.58430000e+00,   1.58458000e+00,   1.58981000e+00,
         1.59544000e+00,   1.63300000e+00,   1.65168000e+00,
         1.66055000e+00,   1.68048000e+00,   1.69960000e+00,
         1.70044000e+00,   1.70272000e+00,   1.71120000e+00,
         1.71595000e+00,   1.72521000e+00,   1.72962000e+00,
         1.73888000e+00,   1.74604000e+00,   1.76120000e+00,
         1.76133000e+00,   1.78104000e+00,   1.78771000e+00,
         1.79058000e+00,   1.79258000e+00,   1.81450000e+00,
         1.82014000e+00,   1.82487000e+00,   1.83399000e+00,
         1.83625000e+00,   1.85485000e+00,   1.85963000e+00,
         1.87038000e+00,   1.87913000e+00,   1.88554000e+00,
         1.89840000e+00,   1.90202000e+00,   1.92080000e+00,
         1.92279000e+00,   1.93562000e+00,   1.93793000e+00,
         1.95026000e+00,   1.95902000e+00,   1.96167000e+00,
         1.97176000e+00,   1.97185000e+00,   1.98001000e+00,
         1.98161000e+00,   1.99090000e+00,   2.01066000e+00,
         2.02297000e+00,   2.02915000e+00,   2.03252000e+00,
         2.04768000e+00,   2.07258000e+00,   2.07718000e+00,
         2.07970000e+00,   2.12240000e+00,   2.13882000e+00,
         2.14296000e+00,   2.16044000e+00,   2.16535000e+00,
         2.17578000e+00,   2.17865000e+00,   2.18506000e+00,
         2.19565000e+00,   2.20476000e+00,   2.23427000e+00,
         2.23599000e+00,   2.25737000e+00,   2.28026000e+00,
         2.38326000e+00,   2.38415000e+00,   2.38474000e+00,
         2.42177000e+00,   2.46144000e+00,   2.48422000e+00,
         2.53339000e+00,   2.90081000e+00])

Blank/Omitted data
==================

One of the toughest preprocessing steps that is needed in analyzing a real data step is trying to identify and figure out how to handle missing data.  Pandas gives great support for identifying and specifying how to handle these missing values.

In [10]:
print(exp_df[np.isnan(exp_df['Virulence'])])

     Virulence  Replicate  ShannonDiversity
300        NaN          1          0.000000
301        NaN          2          0.000000
302        NaN          3          0.833645
303        NaN          4          0.000000
304        NaN          5          0.990309
305        NaN          6          0.000000
306        NaN          7          0.000000
307        NaN          8          0.000000
308        NaN          9          0.061414
309        NaN         10          0.316439
310        NaN         11          0.904773
311        NaN         12          0.884122
312        NaN         13          0.000000
313        NaN         14          0.000000
314        NaN         15          0.000000
315        NaN         16          0.000000
316        NaN         17          0.013495
317        NaN         18          0.882519
318        NaN         19          0.000000
319        NaN         20          0.986830
320        NaN         21          0.000000
321        NaN         22          0.000000
322        NaN         23          0.000000
323        NaN         24          0.000000
324        NaN         25          0.000000
325        NaN         26          0.000000
326        NaN         27          1.702720
327        NaN         28          0.169556
328        NaN         29          0.949750
329        NaN         30          0.240084
330        NaN         31          0.925913
331        NaN         32          0.000000
332        NaN         33          0.693356
333        NaN         34          0.000000
334        NaN         35          0.310170
335        NaN         36          0.000000
336        NaN         37          0.000000
337        NaN         38          0.000000
338        NaN         39          0.000000
339        NaN         40          0.000000
340        NaN         41          0.000000
341        NaN         42          0.000000
342        NaN         43          0.000000
343        NaN         44          0.000000
344        NaN         45          0.391061
345        NaN         46          0.001669
346        NaN         47          0.000000
347        NaN         48          0.444463
348        NaN         49          0.383512
349        NaN         50          0.511329

DataFrame methods automatically ignore NA/NaN values (which is usually the right thing to do).

In [11]:
print("Mean virulence across all treatments:", exp_df['Virulence'].mean())

Mean virulence across all treatments: 0.7500000000000013

Although we can filter out NA/NaN values if we need to, to for example pass to other libraries that don't handle these so well.  Notice that the following has dropped those 50 rows that had null Virulence values.

In [12]:
print(exp_df.dropna())

     Virulence  Replicate  ShannonDiversity
0          0.5          1          0.059262
1          0.5          2          1.093600
2          0.5          3          1.139390
3          0.5          4          0.547651
4          0.5          5          0.065928
5          0.5          6          1.344330
6          0.5          7          1.680480
7          0.5          8          0.000000
8          0.5          9          2.047680
9          0.5         10          0.000000
10         0.5         11          1.507140
11         0.5         12          0.000000
12         0.5         13          1.589810
13         0.5         14          1.144800
14         0.5         15          1.011190
15         0.5         16          0.000000
16         0.5         17          0.776665
17         0.5         18          0.001749
18         0.5         19          1.761200
19         0.5         20          0.021091
20         0.5         21          0.790915
21         0.5         22          0.000000
22         0.5         23          0.018866
23         0.5         24          0.994268
24         0.5         25          1.729620
25         0.5         26          0.967537
26         0.5         27          0.457318
27         0.5         28          0.992525
28         0.5         29          1.506640
29         0.5         30          0.697241
..         ...        ...               ...
270        1.0         21          0.000000
271        1.0         22          0.000000
272        1.0         23          0.000000
273        1.0         24          0.000000
274        1.0         25          0.000000
275        1.0         26          0.000000
276        1.0         27          0.000000
277        1.0         28          0.000000
278        1.0         29          0.460192
279        1.0         30          0.909254
280        1.0         31          0.971351
281        1.0         32          0.000000
282        1.0         33          0.887569
283        1.0         34          0.000000
284        1.0         35          0.000000
285        1.0         36          0.000000
286        1.0         37          0.000000
287        1.0         38          0.000000
288        1.0         39          0.000000
289        1.0         40          1.514560
290        1.0         41          0.000000
291        1.0         42          0.000000
292        1.0         43          0.000000
293        1.0         44          0.716393
294        1.0         45          0.000000
295        1.0         46          0.644337
296        1.0         47          0.875816
297        1.0         48          0.000000
298        1.0         49          0.000000
299        1.0         50          0.000000

[300 rows x 3 columns]

Or if needed, we can instead replace all NA/NaN entries with a valid (default) value.

In [13]:
print(exp_df.fillna(0.0)['Virulence'])

0      0.5
1      0.5
2      0.5
3      0.5
4      0.5
5      0.5
6      0.5
7      0.5
8      0.5
9      0.5
10     0.5
11     0.5
12     0.5
13     0.5
14     0.5
15     0.5
16     0.5
17     0.5
18     0.5
19     0.5
20     0.5
21     0.5
22     0.5
23     0.5
24     0.5
25     0.5
26     0.5
27     0.5
28     0.5
29     0.5
      ...
320    0.0
321    0.0
322    0.0
323    0.0
324    0.0
325    0.0
326    0.0
327    0.0
328    0.0
329    0.0
330    0.0
331    0.0
332    0.0
333    0.0
334    0.0
335    0.0
336    0.0
337    0.0
338    0.0
339    0.0
340    0.0
341    0.0
342    0.0
343    0.0
344    0.0
345    0.0
346    0.0
347    0.0
348    0.0
349    0.0
Name: Virulence, Length: 350, dtype: float64

Some Simple Summary Statistics with Pandas
------------------------------------------

Lets look at some very simple summary statistics with pandas.  Conveniently DataFrames have all kinds of built-in functions to perform standard operations on them en masse: add() sub() mul() div() mean() std() etc.

In [14]:
print("Mean Shannon Diversity w/ 0.8 Parasite Virulence = ", exp_df[exp_df['Virulence'] == 0.8]['ShannonDiversity'].mean())
print("Variance Shannon Diversity w/ 0.8 Parasite Virulence = ", exp_df[exp_df['Virulence'] == 0.8]['ShannonDiversity'].var())

Mean Shannon Diversity w/ 0.8 Parasite Virulence =  1.2691338187999996
Variance Shannon Diversity w/ 0.8 Parasite Virulence =  0.6110384333126732

Some More Examples
------------------

The following are more examples of how you can manipulate pandas DataFrames (taken from the pandas [10-minute tutorial](http://pandas.pydata.org/pandas-docs/stable/10min.html))

In [15]:
dates = pd.date_range('20130101', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -0.488664 -2.083682  0.058179  0.024079
2013-01-02  1.516348  0.346944  0.077422  1.275602
2013-01-03 -1.263745  0.599777  0.441004 -0.475327
2013-01-04 -0.380054  0.302196 -0.557611  0.352034
2013-01-05  0.781895  2.053504  0.592795 -1.928400
2013-01-06  1.247846 -0.130071 -0.156922  1.143030

In [16]:
df2 = pd.DataFrame({'A': 1.0,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=range(4), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': 'foo'})
df2

     A          B    C  D    E
0  1.0 2013-01-02  1.0  3  foo
1  1.0 2013-01-02  1.0  3  foo
2  1.0 2013-01-02  1.0  3  foo
3  1.0 2013-01-02  1.0  3  foo

In [17]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E            object
dtype: object

In [18]:
df.head()

                   A         B         C         D
2013-01-01 -0.488664 -2.083682  0.058179  0.024079
2013-01-02  1.516348  0.346944  0.077422  1.275602
2013-01-03 -1.263745  0.599777  0.441004 -0.475327
2013-01-04 -0.380054  0.302196 -0.557611  0.352034
2013-01-05  0.781895  2.053504  0.592795 -1.928400

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.380054  0.302196 -0.557611  0.352034
2013-01-05  0.781895  2.053504  0.592795 -1.928400
2013-01-06  1.247846 -0.130071 -0.156922  1.143030

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.values # notice, the easiest way to turn whole pandas DataFrame into a NumPy array with same rows/columns

array([[-0.48866365, -2.08368177,  0.05817865,  0.02407941],
       [ 1.51634759,  0.34694421,  0.07742224,  1.27560212],
       [-1.26374522,  0.59977657,  0.44100397, -0.47532734],
       [-0.38005431,  0.30219609, -0.55761131,  0.35203361],
       [ 0.78189514,  2.05350383,  0.59279454, -1.92839954],
       [ 1.24784575, -0.13007069, -0.15692188,  1.14302964]])

Describe shows a quick statistics summary of your data:

In [22]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.235604  0.181445  0.075811  0.065170
std    1.105895  1.337865  0.413845  1.181301
min   -1.263745 -2.083682 -0.557611 -1.928400
25%   -0.461511 -0.022004 -0.103147 -0.350476
50%    0.200920  0.324570  0.067800  0.188057
75%    1.131358  0.536568  0.350109  0.945281
max    1.516348  2.053504  0.592795  1.275602

Sort data by values of some column

In [23]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-01 -0.488664 -2.083682  0.058179  0.024079
2013-01-06  1.247846 -0.130071 -0.156922  1.143030
2013-01-04 -0.380054  0.302196 -0.557611  0.352034
2013-01-02  1.516348  0.346944  0.077422  1.275602
2013-01-03 -1.263745  0.599777  0.441004 -0.475327
2013-01-05  0.781895  2.053504  0.592795 -1.928400

Select a single column, which yields a Series, equivalent to df.A

In [24]:
df['A']

2013-01-01   -0.488664
2013-01-02    1.516348
2013-01-03   -1.263745
2013-01-04   -0.380054
2013-01-05    0.781895
2013-01-06    1.247846
Freq: D, Name: A, dtype: float64

Copy a column values into a NumPy array, for passing to a library for example:

In [25]:
col_A = df['A'].values
print(col_A)
print(type(col_A))

[-0.48866365  1.51634759 -1.26374522 -0.38005431  0.78189514  1.24784575]
<class 'numpy.ndarray'>

Select rows of a DataFrame using slices.

In [26]:
print(df[1:3])
print(df['20130103':'20130105'])

                   A         B         C         D
2013-01-02  1.516348  0.346944  0.077422  1.275602
2013-01-03 -1.263745  0.599777  0.441004 -0.475327
                   A         B         C         D
2013-01-03 -1.263745  0.599777  0.441004 -0.475327
2013-01-04 -0.380054  0.302196 -0.557611  0.352034
2013-01-05  0.781895  2.053504  0.592795 -1.928400

Selecting multiple columns.  Unfortunately

In [27]:
df.ix[:,['A','B']]

/home/dash/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  if __name__ == '__main__':

                   A         B
2013-01-01 -0.488664 -2.083682
2013-01-02  1.516348  0.346944
2013-01-03 -1.263745  0.599777
2013-01-04 -0.380054  0.302196
2013-01-05  0.781895  2.053504
2013-01-06  1.247846 -0.130071

Getting particular columns and particular rows

In [28]:
df.ix['20130104':'20130106', ['C', 'A']]

                   C         A
2013-01-04 -0.557611 -0.380054
2013-01-05  0.592795  0.781895
2013-01-06 -0.156922  1.247846

Selecting only particular rows by some condition.

In [29]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  1.516348  0.346944  0.077422  1.275602
2013-01-05  0.781895  2.053504  0.592795 -1.928400
2013-01-06  1.247846 -0.130071 -0.156922  1.143030

# Versions

In [30]:
%reload_ext version_information

%version_information numpy, scipy, matplotlib

Software versions
Python 3.6.1 64bit [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
IPython 6.4.0
OS Linux 4.13.0 46 generic x86_64 with debian stretch sid
numpy 1.12.1
scipy 0.19.0
matplotlib 2.0.2
Thu Aug 23 12:13:50 2018 CDT